.container {
  border: 1px solid black;
  width: 100%;
  float: left;
}

.column-left {
  width: 25%;
  text-align: left;
  line-height: 5px;
  padding: 2px;
  float: left;
}
.column-right {
  width: 73%;
  text-align: left;
  padding: 2px;
  float: left;
  border-left: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
