.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  width: 80px;
  height: 40px;
  margin: 5px;
}

/*====================================================
    SIDE BAR
====================================================*/
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top below header */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #ffffff;
  color: #111;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*====================================================
    HEADER
====================================================*/
/* Header content */
.header {
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111;
  width: 100%;
  height: 40px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
}

.header-right {
  position: absolute;
  right: 0;
}

.header-left {
  position: absolute;
  left: 0;
  color: #ffffff;
}

.header input {
  height: 40px;
  color: #ffffff;
  background-color: #111; /* Black */
}
.header input:hover {
  height: 40px;
  color: #111;
  background-color: #ffffff; /* Black */
}
/*====================================================
    BODY
====================================================*/
/* Style page content */
.main {
  margin-top: 40px;
  margin-left: 160px; /* Same as the width of the sidebar */
}

.tab {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 70px;
  padding: 2px;
  border-style: none;
  outline: none;
}

.subtab {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 40px;
  padding: 2px;
  border-style: none;
  outline: none;
}

.subtab:hover {
  background-color: grey;
}

.tab:hover {
  background-color: grey;
}

/*====================================================
    LOGIN PAGE
====================================================*/
.login {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;

  width:60%;
  height:40%;
}

.login-child{
  height:200px;
}

.login-child div{
  padding:10px;
}

.login-child input{
  font-size:20px;
}